.react-grid-Cell, .react-grid-HeaderCell, .react-grid-Canvas {
    background: #222
}

.react-grid-Row:hover .react-grid-Cell {
    background: #8b00ff;
}

.react-grid-Cell:focus {
    outline: none;
}