{
  "listener_address" : "0.0.0.0",
  "listener_port" : ${SWARM_PORT},
  "ethereum" : "0x006eae72077449caca91078ef78552c0cd9bce8f",
  "bootstrap_url" : "${SWARM_BOOTSTRAP_URL}",
  "uuid" : "${SWARM_UUID}",
  "debug_logging" : true,
  "log_to_stdout" : true
}